.button{
    background-color: rgb(238, 110, 115);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    height: 50px;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;

}

.button_01 {
    background-color: rgb(238, 110, 115);
    color: white;
    border: 2px solid rgb(238, 110, 115);
}
.button_01:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(238, 110, 115);
}
.no-gap{
  padding: 0;
  margin: 0;
}
.footer{
  position: fixed;
  bottom: 0%;
  color: white;
  background-color: rgb(238, 110, 115);

}
@media (max-width: 767px) {
  .footer{
    position: relative;
    bottom: 0%;
    color: white;
    background-color: rgb(238, 110, 115);

  }
}
.footer h6{
  margin-left: 10%;
  height: 100%;


}
a:link {
    text-decoration: none;
}
