#one{
 -  visibility: hidden;
 -}
 -#one:active{
 -  visibility: visible;
 -}
body{
    background-color: rgba(230,230,230,1);
    border: 0 !important;
    margin: 0 !important;
    font-family: 'Nunito', sans-serif;
}
/* Formando menu */
#nav_bar{
    color: rgba(255, 255, 255, 1);
    position: fixed;
    background-color: #CC444B;
    /*background-color: rgba(238, 110, 115, 1);*/
    height: 100vh;
    margin: 0 !important;
}
/* Menu para telas pequenas, posicionado no topo*/
@media (max-width: 767.5px) {
  #nav_bar{
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: relative;
    margin: 0 !important;
  }
}
#menu ul{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5vh;
    padding: 0;
    text-align: left;
}
#menu ul li{
    border-radius: 0.5vh;
    list-style: none;
    width: 100%;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
}
#menu ul li:hover{
    color: rgba(238, 110, 115, 1);
    background-color: rgba(255,255,255,0.75);
    list-style: none;
    font-size: 16pt
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
}
#menu ul a{
    color: rgb(255, 255, 255);
    letter-spacing: .2rem;
    list-style: none;
    font-size: 16pt;

}
#menu ul a:hover{
    color: rgba(238, 110, 115, 1);
}



#tit_nav{
    text-align: left;
}
/* Conteudo */
.conteudo{
}
.logo{
  width: 100%;
  height: auto;
}
.tit_pub{
  color: rgba(0,0,0, 0.75);
  font-size: 2.5em ;
  text-align: center;
}
.bloco{
  background-color: rgba(255, 255, 255, 1);
  padding: 5%;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2%;
  margin-top: 2%;
  height: auto;
}
