/* Diretivas gerais */
body{
    background-color: rgba(245,245,245,1);
    border: 0 !important;
    margin: 0 !important;
    font-family: 'Nunito', sans-serif;
}
/* Formando menu */
#nav_bar{
    color: rgba(255, 255, 255, 1);
    position: fixed;
    background-color: rgba(238, 110, 115, 1);
    height: 100vh;
    margin: 0 !important;
}
/* Menu para telas pequenas, posicionado no topo*/
@media (max-width: 767px) {
  #nav_bar{
    color: rgba(255, 255, 255, 1);
    position: relative;
    background-color: rgba(238, 110, 115, 1);
    width: 100%;
    height: auto;
    margin: 0 !important;
  }
}
#menu ul{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5vh;
    padding: 0;
    text-align: left;
}
#menu ul li{
    border-radius: 0.5vh;
    list-style: none;
    width: 100%;
    transition-duration: 0.5s;
}
#menu ul li:hover{
    text-align: center;
    color: rgba(238, 110, 115, 1);
    background-color: rgba(255,255,255,0.75);
    list-style: none;
    font-size: 16pt
}
#menu ul li a{
    color: rgb(255, 255, 255);
    letter-spacing: .2rem;
    text-align: center;
    list-style: none;
    font-size: 16pt;
    transition-duration: 0.5s;
}
#menu ul li a:hover{
    color: rgba(238, 110, 115, 1);
}
#tit_nav{
    text-align: left;
}
/* Conteudo */
.conteudo{
}
